<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href="/assets/fonts/fontawesome-all.css" rel="stylesheet">
    <link href="/assets/fonts/flimmefont.css" rel="stylesheet">
    <link href="/assets/css/timeline.css" rel="stylesheet">
    <link href="/assets/css/navbar.css" rel="stylesheet">
    
    <style>
      a.anchor {
          display: block;
          position: relative;
          top: -60px;
          visibility: hidden;
      }
      .topMenuItem {
        color: #f2f2f2;
        text-align: center;
        padding: 20px 0px;
        text-decoration: none;
        font-size: 28px;
        width: 15vw;
        max-width: 80px;
        height: 20px;
        margin-top: 16px;
      }
      .topMenuItem:hover {
        background-color: #FFFFFF;
        color: black;
      }
    </style>
    
{% seo %}
  </head>

  <body style="background: #0B1833;">

    <!-- HEADER -->
    <div id="header_wrap" class="outer" style="background: #0B1833; background: -moz-linear-gradient(top, #0B1833, #0F1123); background: -webkit-linear-gradient(top, #0B1833, #0F1123); background: -ms-linear-gradient(top, #0B1833, #0F1123); background: -o-linear-gradient(top, #0B1833, #0F1123); background: linear-gradient(top, #0B1833, #0F1123);">
        
        <div style="margin-bottom: 16px; display: flex; flex-direction: row; justify-content: center; align-items: center; height: 40px;">
          <a class="topMenuItem" href="#PROFIL"><i class="fab fa-linkedin"></i></a>
          <a class="topMenuItem" href="#SKILLS"><i class="fab fa-xing-square"></i></a>
          <a class="topMenuItem" href="#ARBEIT"><i class="fab fa-github-square"></i></a>
        </div>
      
        <header class="inner" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 0px 0px 0px 0px; max-width: 1200px;">   
          <h1 id="project_title" style="font-family: 'Source Sans Pro', sans-serif; font-weight: bold; margin-left: 8px;">{{ site.title | default: site.github.repository_name }}</h1>
          <img src="/assets/ich.jpg" alt="Felix Maulwuf" style="height: 200px; border: 0px; box-shadow: 0px 0px; padding:0px; margin:8px 0px 0px 0px;">

          {% if site.show_downloads %}
            <section id="downloads">
              <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
              <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
            </section>
          {% endif %}
        </header>
    </div>
     
    <!-- NAVBAR -->
    <div id="navbar">
      <a href="#PROFIL"><i class="far fa-address-card"></i></a>
      <a href="#SKILLS"><i class="fas fa-chart-bar"></i></a>
      <a href="#ARBEIT"><i class="fas fa-laptop"></i></a>
      <a href="#STUDIUM"><i class="fas fa-graduation-cap"></i></a>
      <a href="#PORTFOLIO"><i class="fas fa-archive"></i></a>
    </div>
    
<div class="cont">
      
    <!-- PROFIL CONTENT -->
    <a class="anchor" id="PROFIL"></a>
    <div class="outer" style="background:#ffffff">
      <section id="main_content" class="inner" style=" max-width: 1200px;">
        
          <div style="display: flex; flex-direction: column;">
            <p style="margin: 0px; font-size: 28px; font-weight: bold; font-family: 'Source Sans Pro', sans-serif;">
              <i class="far fa-address-card"></i>
              Profil
            </p>
            <div style="margin-bottom:32px">
              <div style="height:3px; width:103px; background: black;"></div>
              <div style="height:2px; background: black;"></div>
            </div>
            <div style="background: transparent; display: flex; flex-direction: row; flex-wrap: wrap;">
              
              <div style="display: flex; flex-wrap: wrap; flex-direction: column; flex: 1; min-width: 200px;">
                <div style="display: flex; flex: 1;">
                    <div style="font-size: 1.4em; font-weight: bold; flex: 1; font-family: 'Source Sans Pro', sans-serif;">Name:</div>
                    <div style="font-size: 1.4em; width: 50%; font-family: 'Source Sans Pro', sans-serif;">Felix Maulwurf</div>
                </div>
                <div style="display: flex; flex: 1;">
                    <div style="font-size: 1.4em; font-weight: bold; flex: 1; font-family: 'Source Sans Pro', sans-serif;">Geburtstag:</div>
                    <div style="font-size: 1.4em; width: 50%; font-family: 'Source Sans Pro', sans-serif;">22. April 1989</div>
                </div>
              </div>
              
              <div style="display: flex; flex-wrap: wrap; flex-direction: column; flex: 1; min-width: 200px;">
                <div style="display: flex; flex: 1;">
                    <div style="font-size: 1.4em; font-weight: bold; flex: 1; font-family: 'Source Sans Pro', sans-serif;">Nationalität:</div>
                    <div style="font-size: 1.4em; width: 50%; font-family: 'Source Sans Pro', sans-serif;">deutsch</div>
                </div>
                <div style="display: flex; flex: 1;">
                    <div style="font-size: 1.4em; font-weight: bold; flex: 1; font-family: 'Source Sans Pro', sans-serif;">Titel:</div>
                    <div style="font-size: 1.4em; width: 50%; font-family: 'Source Sans Pro', sans-serif;">Bachelor of Science (Medieninformatik)</div>
                </div>
              </div>
              
            </div>
          </div>
      </section>
    </div>
    
    <!-- SKILLS CONTENT -->
    <a class="anchor" id="SKILLS"></a>
    <div class="outer" style="background:#ffffff">
      <section id="main_content" class="inner" style=" max-width: 1200px;">
        <div style="display: flex; flex-direction: column;">
            <p style="margin: 0px; font-size: 28px; font-weight: bold; font-family: 'Source Sans Pro', sans-serif;">
              <i class="fas fa-chart-bar"></i>
            Skills
            </p>
            <div style="margin-bottom:32px">
              <div style="height:3px; width:119px; background: black;"></div>
              <div style="height:2px; background: black;"></div>
            </div>
          
            <p style="margin: 0px 0px 16px 0px; font-size: 20px; font-weight: bold; font-family: 'Source Sans Pro', sans-serif;">
              Sprachen:
            </p>
            <div id="skill1" data-width="65" data-background="#666666" style="margin-bottom: 8px;">JavaScript (65%)</div>
            <div id="skill2" data-width="50" data-background="#666666" style="margin-bottom: 8px;">TypeScript (50%)</div>
            <div id="skill3" data-width="80" data-background="#666666" style="margin-bottom: 8px;">HTML (80%)</div>
            <div id="skill4" data-width="60" data-background="#666666" style="margin-bottom: 8px;">CSS (60%)</div>
            <div id="skill5" data-width="70" data-background="#666666" style="margin-bottom: 8px;">Java (70%)</div>
            <div id="skill6" data-width="70" data-background="#666666" style="margin-bottom: 8px;">Swift (70%)</div>
            <div id="skill7" data-width="30" data-background="#666666" style="margin-bottom: 8px;">ObjectiveC (30%)</div>
            <div id="skill8" data-width="40" data-background="#666666" style="margin-bottom: 8px;">C# (40%)</div>

            <br>
            <p style="margin: 0px 0px 16px 0px; font-size: 20px; font-weight: bold; font-family: 'Source Sans Pro', sans-serif;">
              Bekannte Technologien:
            </p>
          
              <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    React
                </div> 
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    ReactNative
                </div> 
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    Redux
                </div> 
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    REST
                </div>
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    jQuery
                </div> 
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    FFMPEG
                </div> 
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    Lint
                </div> 
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    Git
                </div> 
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    Carthage
                </div> 
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    HockeyApp
                </div>
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    Sentry.io
                </div> 
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    NodeJS
                </div> 
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    Socket.io
                </div>
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    LaTeX
                </div>
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    RedMine
                </div>
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    SCSS/SASS
                </div>
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    Grunt
                </div>
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    Docker
                </div>
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    Jenkins
                </div>
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    NPM
                </div>
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    MongoDB
                </div>
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    JSON
                </div>
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    XML
                </div>
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    SQL
                </div>
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    Gradle
                </div>
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    Maven
                </div>
            </div>
          
            <br>
            <p style="margin: 0px 0px 16px 0px; font-size: 20px; font-weight: bold; font-family: 'Source Sans Pro', sans-serif;">
              Bekannte Anwendungen:
            </p>
          
             <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    Adobe Photoshop
                </div> 
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    Adobe Illustrator
                </div>
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    Adobe Premiere
                </div> 
                <div style="display: flex; border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                    MS Office
                </div> 
            </div>
          
        </div>
      </section>
    </div>
    
    <!-- ARBEIT CONTENT -->
    <a class="anchor" id="ARBEIT"></a>
    <div id="ARBEIT" class="outer" style="background:#ffffff">
      <section id="main_content" class="inner" style=" max-width: 1200px;">
          
          <div style="display: flex; flex-direction: column;">
            <p style="margin: 0px; font-size: 28px; font-weight: bold; font-family: 'Source Sans Pro', sans-serif;">
              <i class="fas fa-laptop"></i>
            Arbeit
            </p>
            <div style="margin-bottom:32px">
              <div style="height:3px; width:119px; background: black;"></div>
              <div style="height:2px; background: black;"></div>
            </div>
            
            <p style="margin: 0px; font-size: 20px; font-weight: regular; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 16px; text-align: center;">
              Angestellt als iOS-Developer für die Mevango GmbH seit April 2015. <br>
              
              <img src="/assets/flimme.png" alt="Flimme System" style="width: 100%; border: 0px; box-shadow: 0px 0px; padding:0px; margin:16px 0px 16px 0px;"><br>
            </p>
            <p style="margin: 0px; font-size: 20px; font-weight: regular; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 16px; text-align: justify;">
              Ich bin verantwortlich für die Entwicklung einer Live Streaming Applikation, die als Werkzeug für das Flimme Systems dient.
              Die Applikation ist ein Hybrid aus nativem Swift Code und React Native. 
              Die Kommunikation findet über eine REST Schnittstelle mit dem Flimme Backend statt. 
              Der Aufbau basiert auf dem Redux Paradigma. 
              Das User Interface ist mit React Native Components umgesetzt, deren Zustände von einer komponentenbasierten State Machine gesteuert werden.
            </p>
            <br>
            <p style="margin: 0px; font-size: 20px; font-weight: regular; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 16px; text-align: center;">
              Weitere Informationen über das Flimme System sind <a style="font-size: 1.0em; font-weight: bold; flex: 1; font-family: 'Source Sans Pro', sans-serif; text-align: center;" href="https://flimme.com" target="_blank">hier</a> zu finden.
            </p>
            
            <div style="display: flex; flex-wrap: wrap; flex-direction: column; flex: 1;">
              <div style="display: flex; flex: 1; justify-content: space-around; flex-direction: row; flex-wrap: wrap;">
                  <i class="emt emt-flimme" style="font-size: 48px; color: #FF375D"></i>
              </div>
              <div style="display: flex; flex: 1; justify-content: space-around; flex-direction: row; flex-wrap: wrap;">
                  <a style="font-size: 1.2em; font-weight: bold; flex: 1; font-family: 'Source Sans Pro', sans-serif; text-align: center;" href="https://itunes.apple.com/de/app/flimme/id1018215162" target="_blank">Flimme im AppStore</a>
              </div>
            </div>
          </div>
      </section>
    </div>

    <!-- STUDIUM CONTENT -->
    <a class="anchor" id="STUDIUM"></a>
    <div id="STUDIUM" class="outer" style="background:#ffffff" >
      <section id="main_content" class="inner" style=" max-width: 1200px;">
        
          <div style="display: flex; flex-direction: column;">
            <p style="margin: 0px; font-size: 28px; font-weight: bold; font-family: 'Source Sans Pro', sans-serif;">
              <i class="fas fa-graduation-cap"></i>
            Studium
            </p>
            <div style="margin-bottom:32px">
              <div style="height:3px; width:147px; background: black;"></div>
              <div style="height:2px; background: black;"></div>
            </div>
            
            <p style="margin: 0px; font-size: 20px; font-weight: regular; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 16px; text-align: center;">
              Seit Oktober 2016 Medieninformatik Master im Vollzeitstudium an der Beuth Hochschule für Technik Berlin. <br><br>
              Vorraussichtlicher Abschluss des Master of Science im ersten Quartal 2019.
              <br>
              <img src="/assets/beuth.png" alt="Flimme System" style="width: 75%; border: 0px; box-shadow: 0px 0px; padding:0px; margin:16px 0px 16px 0px;"><br>

              Weitere Informationen zu diesem Studiengang finden Sie <a style="font-size: 1.0em; font-weight: bold; flex: 1; font-family: 'Source Sans Pro', sans-serif; text-align: center;" href="http://www.beuth-hochschule.de/m-mi/" target="_blank">hier</a>.
            </p>
            
          </div>
      </section>
    </div>

    <!-- PORTFOLIO CONTENT -->
    <a class="anchor" id="PORTFOLIO"></a>
    <div id="PORTFOLIO" class="outer" style="background:#ffffff">
      <section id="main_content" class="inner" style=" max-width: 1200px;">
        
          <div style="display: flex; flex-direction: column;">
            <p style="margin: 0px; font-size: 28px; font-weight: bold; font-family: 'Source Sans Pro', sans-serif;">
              <i class="fas fa-archive"></i>
            Portfolio
            </p>
            <div style="margin-bottom:32px">
              <div style="height:3px; width:144px; background: black;"></div>
              <div style="height:2px; background: black;"></div>
            </div>
            
            <div class="timeline">
              <div class="container right">
                <div class="content" style="text-align: justify;">
                  <div style="display: flex; flex-direction: row; justify-content: space-between; margin: 4px 0px 4px 4px; align-items: center;">
                    <h2>2017</h2>
                    <div style="border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; font-family: 'Source Sans Pro', sans-serif; height: 25px;">
                        2-köpfiges Team
                    </div> 
                  </div>
                  <p>
                  <h3>BeuthBox: Paella Player</h3>
                  <img src="/assets/beuthbox.jpg" alt="Flimme System" style="width: 100%; border: 0px; box-shadow: 0px 0px; padding:0px; margin:16px 0px 16px 0px;"><br>  
                  Für das Modul Streaming Media Services im Masterstudium Medieninformatik bestand die Projektaufgabe in der Integration des Paella-Players in das von der Uni bestehende Opencast System. Dazu wurde der Paella Player nicht nur lauffähig integriert, sondern an die UI/UX der Beuth-Hochschule für Technik angepasst.</p>
                
                  <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                    <div style="border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                        JavaScript
                    </div>
                    <div style="border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                        HTML5
                    </div> 
                    <div style="border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                        CSS3
                    </div>
                    <div style="border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                        jQuery
                    </div>
                    <div style="border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                        Angular 1.5
                    </div>
                    <div style="border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                        Opencast
                    </div>
                  </div>
                
                </div>
              </div>
              <div class="container left">
                <div class="content" style="text-align: justify;">
                  <div style="display: flex; flex-direction: row; justify-content: space-between; margin: 4px 0px 4px 4px; align-items: center;">
                    <h2>2015</h2>
                    <div style="border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; font-family: 'Source Sans Pro', sans-serif; height: 25px;">
                        3-köpfiges Team
                    </div> 
                  </div>
                  <p>
                  <h3>Video: F-Hain | contraries</h3>
                  <iframe width="100%" height="250px"
                    src="https://www.youtube.com/embed/_SPnaGCNPGY">
                  </iframe><br><br>
                    Dieses Video entstand im Rahmen des Studium Moduls Medientechnik-Video. Es vermittelte grundlegende Kenntnisse in Videoschnitttechniken und Video Compositing.</p>
                    
                    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                      <div style="border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                          Adobe After Effects
                      </div>
                      <div style="border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                          Adobe Premiere Pro
                      </div> 
                  </div>
                
                </div>
              </div>
              <div class="container right">
                <div class="content" style="text-align: justify;">
                  <div style="display: flex; flex-direction: row; justify-content: space-between; margin: 4px 0px 4px 4px; align-items: center;">
                    <h2>2014</h2>
                    <div style="border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; font-family: 'Source Sans Pro', sans-serif; height: 25px;">
                        3-köpfiges Team
                    </div> 
                  </div>
                  <p>
                  <h3>videoChop – slice.compose.online</h3>
                  <img src="/assets/videochop.jpg" alt="Flimme System" style="width: 100%; border: 0px; box-shadow: 0px 0px; padding:0px; margin:16px 0px 16px 0px;"><br>
                    VideoChop ist ein Modul-Projekt aus dem dritten Semester des Medieninformatik Bachelor Studiums. Es handelt sich dabei um eine Website die es dem Besucher ermöglicht Videos zu schneiden und das Ergebnis zu speichern.
                  Es basiert auf den gängisten Webtechnologien und nutzt FFMPEG als Webworker für den notwendigen Render/Muxer Prozess.</p>
                  
                  <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                    <div style="border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                        JavaScript
                    </div>
                    <div style="border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                        HTML5
                    </div> 
                    <div style="border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                        CSS3
                    </div>
                    <div style="border-radius: 5px; background: #666666; text-align: center; padding: 0px 8px 0px 8px; color: white; margin-right: 8px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 8px; height: 25px;">
                        FFMPEG
                    </div> 
                  </div>
                
                </div>
              </div>
            </div>
            
          </div>
      </section>
    </div>
  
</div>
    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer" style="background: #0B1833; background: -moz-linear-gradient(top, #0F1123, #0B1833); background: -webkit-linear-gradient(top, #0F1123, #0B1833); background: -ms-linear-gradient(top, #0F1123, #0B1833); background: -o-linear-gradient(top, #0F1123, #0B1833); background: linear-gradient(top, #0F1123, #0B1833); ">
      <footer class="inner" style=" max-width: 1200px;">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p style="font-family: 'Source Sans Pro', sans-serif;">Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/assets/js/simple-skillbar.js"></script>
    <script>
      window.onscroll = function() {myFunction()};

      var navbar = document.getElementById("navbar");
      var sticky = navbar.offsetTop;

      function myFunction() {
        if (window.pageYOffset >= sticky) {
          navbar.classList.add("sticky")
        } else {
          navbar.classList.remove("sticky");
        }
      }
    </script>

    <script>
      var $root = $('html, body');

      $('a[href^="#"]').click(function() {
          var href = $.attr(this, 'href');

          $root.animate({
              scrollTop: $(href).offset().top
          }, 500, function () {
              window.location.hash = href;
          });

          return false;
      });
    </script>

    <script>
        $('#skill1').simpleSkillbar();
        $('#skill2').simpleSkillbar();
        $('#skill3').simpleSkillbar();
        $('#skill4').simpleSkillbar();
        $('#skill5').simpleSkillbar();
        $('#skill6').simpleSkillbar();
        $('#skill7').simpleSkillbar();
        $('#skill8').simpleSkillbar();
    </script>
  </body>
</html>
