<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

{% seo %}
  </head>

  <body style="background: #0B1833;">

    <!-- HEADER -->
    <div id="header_wrap" class="outer" style="background: #0B1833; background: -moz-linear-gradient(top, #0B1833, #0F1123); background: -webkit-linear-gradient(top, #0B1833, #0F1123); background: -ms-linear-gradient(top, #0B1833, #0F1123); background: -o-linear-gradient(top, #0B1833, #0F1123); background: linear-gradient(top, #0B1833, #0F1123);">
        <header class="inner" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 0px 0px 0px 0px;">

          <h1 id="project_title" style="font-family: 'Source Sans Pro', sans-serif;">{{ site.title | default: site.github.repository_name }}</h1>
          <img src="/assets/ich.jpg" alt="Felix Maulwuf" style="height: 200px; border: 0px; box-shadow: 0px 0px; padding:0px; margin:0px 0px 0px 0px;">

          {% if site.show_downloads %}
            <section id="downloads">
              <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
              <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
            </section>
          {% endif %}
        </header>
    </div>
    
    <!-- CV CONTENT -->
    <div id="main_content_wrap" class="outer" style="background:#ffffff">
      <section id="main_content" class="inner">
        
          <div style="display: flex; flex-direction: column;">
            <p style="margin: 0px; font-size: 28px; font-weight: bold; font-family: 'Source Sans Pro', sans-serif;">
              <i class="far fa-address-card"></i>
              Profil
            </p>
            <div style="margin-bottom:16px">
              <div style="height:3px; width:102px; background: black;"></div>
              <div style="height:2px; background: black;"></div>
            </div>
            <div style="background: transparent; display: flex; flex-direction: row; flex-wrap: wrap;">
              
              <div style="display: flex; flex-wrap: wrap; flex-direction: column; flex: 1; min-width: 200px;">
                <div style="display: flex; flex: 1;">
                    <div style="font-size: 1.2em; font-weight: bold; flex: 1; font-family: 'Source Sans Pro', sans-serif;">Name</div>
                    <div style="font-size: 1.2em; width: 50%; font-family: 'Source Sans Pro', sans-serif;">Felix Maulwurf</div>
                </div>
                <div style="display: flex; flex: 1;">
                    <div style="font-size: 1.2em; font-weight: bold; flex: 1; font-family: 'Source Sans Pro', sans-serif;">Geburtstag</div>
                    <div style="font-size: 1.2em; width: 50%; font-family: 'Source Sans Pro', sans-serif;">22. April 1989</div>
                </div>
              </div>
              
              <div style="display: flex; flex-wrap: wrap; flex-direction: column; flex: 1; min-width: 200px;">
                <div style="display: flex; flex: 1;">
                    <div style="font-size: 1.2em; font-weight: bold; flex: 1; font-family: 'Source Sans Pro', sans-serif;">Nationalität</div>
                    <div style="font-size: 1.2em; width: 50%; font-family: 'Source Sans Pro', sans-serif;">deutsch</div>
                </div>
                <div style="display: flex; flex: 1;">
                    <div style="font-size: 1.2em; font-weight: bold; flex: 1; font-family: 'Source Sans Pro', sans-serif;">Titel</div>
                    <div style="font-size: 1.2em; width: 50%; font-family: 'Source Sans Pro', sans-serif;">Bachelor of Science (Medieninformatik)</div>
                </div>
              </div>
              
            </div>
          </div>
      </section>
    </div>
  
    <!-- W CONTENT -->
    <div id="main_content_wrap" class="outer" style="background:#ffffff">
      <section id="main_content" class="inner">
        
          <div style="display: flex; flex-direction: column;">
            <p style="margin: 0px; font-size: 28px; font-weight: bold; font-family: 'Source Sans Pro', sans-serif;">
              <i class="fas fa-laptop"></i>
            Arbeit
            </p>
            <div style="margin-bottom:16px">
              <div style="height:3px; width:118px; background: black;"></div>
              <div style="height:2px; background: black;"></div>
            </div>
            <div style="background: transparent; display: flex; flex-direction: row; flex-wrap: wrap;">
              
              <div style="display: flex; flex-wrap: wrap; flex-direction: column; flex: 1; min-width: 200px;">
                <div style="display: flex; flex: 1;">
                    <div style="font-size: 1.2em; font-weight: bold; flex: 1; font-family: 'Source Sans Pro', sans-serif;">Name</div>
                    <div style="font-size: 1.2em; width: 50%; font-family: 'Source Sans Pro', sans-serif;">Felix Maulwurf</div>
                </div>
                <div style="display: flex; flex: 1;">
                    <div style="font-size: 1.2em; font-weight: bold; flex: 1; font-family: 'Source Sans Pro', sans-serif;">Geburtstag</div>
                    <div style="font-size: 1.2em; width: 50%; font-family: 'Source Sans Pro', sans-serif;">22. April 1989</div>
                </div>
              </div>
              
              <div style="display: flex; flex-wrap: wrap; flex-direction: column; flex: 1; min-width: 200px;">
                <div style="display: flex; flex: 1;">
                    <div style="font-size: 1.2em; font-weight: bold; flex: 1; font-family: 'Source Sans Pro', sans-serif;">Nationalität</div>
                    <div style="font-size: 1.2em; width: 50%; font-family: 'Source Sans Pro', sans-serif;">deutsch</div>
                </div>
                <div style="display: flex; flex: 1;">
                    <div style="font-size: 1.2em; font-weight: bold; flex: 1; font-family: 'Source Sans Pro', sans-serif;">Titel</div>
                    <div style="font-size: 1.2em; width: 50%; font-family: 'Source Sans Pro', sans-serif;">Bachelor of Science (Medieninformatik)</div>
                </div>
              </div>
              
            </div>
          </div>
      </section>
    </div>

<!-- S CONTENT -->
    <div id="main_content_wrap" class="outer" style="background:#ffffff">
      <section id="main_content" class="inner">
        
          <div style="display: flex; flex-direction: column;">
            <p style="margin: 0px; font-size: 28px; font-weight: bold; font-family: 'Source Sans Pro', sans-serif;">
              <i class="fas fa-graduation-cap"></i>
            Studium
            </p>
            <div style="margin-bottom:16px">
              <div style="height:3px; width:145px; background: black;"></div>
              <div style="height:2px; background: black;"></div>
            </div>
            <div style="background: transparent; display: flex; flex-direction: row; flex-wrap: wrap;">
              
              <div style="display: flex; flex-wrap: wrap; flex-direction: column; flex: 1; min-width: 200px;">
                <div style="display: flex; flex: 1;">
                    <div style="font-size: 1.2em; font-weight: bold; flex: 1; font-family: 'Source Sans Pro', sans-serif;">Name</div>
                    <div style="font-size: 1.2em; width: 50%; font-family: 'Source Sans Pro', sans-serif;">Felix Maulwurf</div>
                </div>
                <div style="display: flex; flex: 1;">
                    <div style="font-size: 1.2em; font-weight: bold; flex: 1; font-family: 'Source Sans Pro', sans-serif;">Geburtstag</div>
                    <div style="font-size: 1.2em; width: 50%; font-family: 'Source Sans Pro', sans-serif;">22. April 1989</div>
                </div>
              </div>
              
              <div style="display: flex; flex-wrap: wrap; flex-direction: column; flex: 1; min-width: 200px;">
                <div style="display: flex; flex: 1;">
                    <div style="font-size: 1.2em; font-weight: bold; flex: 1; font-family: 'Source Sans Pro', sans-serif;">Nationalität</div>
                    <div style="font-size: 1.2em; width: 50%; font-family: 'Source Sans Pro', sans-serif;">deutsch</div>
                </div>
                <div style="display: flex; flex: 1;">
                    <div style="font-size: 1.2em; font-weight: bold; flex: 1; font-family: 'Source Sans Pro', sans-serif;">Titel</div>
                    <div style="font-size: 1.2em; width: 50%; font-family: 'Source Sans Pro', sans-serif;">Bachelor of Science (Medieninformatik)</div>
                </div>
              </div>
              
            </div>
          </div>
      </section>
    </div>

    <!-- PF CONTENT -->
    <div id="main_content_wrap" class="outer" style="background:#ffffff">
      <section id="main_content" class="inner">
        
          <div style="display: flex; flex-direction: column;">
            <p style="margin: 0px; font-size: 28px; font-weight: bold; font-family: 'Source Sans Pro', sans-serif;">
              <i class="fas fa-archive"></i>
            Portfolio
            </p>
            <div style="margin-bottom:16px">
              <div style="height:3px; width:145px; background: black;"></div>
              <div style="height:2px; background: black;"></div>
            </div>
            <div style="background: transparent; display: flex; flex-direction: row; flex-wrap: wrap;">
              
              <div style="display: flex; flex-wrap: wrap; flex-direction: column; flex: 1; min-width: 200px;">
                <div style="display: flex; flex: 1;">
                    <div style="font-size: 1.2em; font-weight: bold; flex: 1; font-family: 'Source Sans Pro', sans-serif;">Name</div>
                    <div style="font-size: 1.2em; width: 50%; font-family: 'Source Sans Pro', sans-serif;">Felix Maulwurf</div>
                </div>
                <div style="display: flex; flex: 1;">
                    <div style="font-size: 1.2em; font-weight: bold; flex: 1; font-family: 'Source Sans Pro', sans-serif;">Geburtstag</div>
                    <div style="font-size: 1.2em; width: 50%; font-family: 'Source Sans Pro', sans-serif;">22. April 1989</div>
                </div>
              </div>
              
              <div style="display: flex; flex-wrap: wrap; flex-direction: column; flex: 1; min-width: 200px;">
                <div style="display: flex; flex: 1;">
                    <div style="font-size: 1.2em; font-weight: bold; flex: 1; font-family: 'Source Sans Pro', sans-serif;">Nationalität</div>
                    <div style="font-size: 1.2em; width: 50%; font-family: 'Source Sans Pro', sans-serif;">deutsch</div>
                </div>
                <div style="display: flex; flex: 1;">
                    <div style="font-size: 1.2em; font-weight: bold; flex: 1; font-family: 'Source Sans Pro', sans-serif;">Titel</div>
                    <div style="font-size: 1.2em; width: 50%; font-family: 'Source Sans Pro', sans-serif;">Bachelor of Science (Medieninformatik)</div>
                </div>
              </div>
              
            </div>
          </div>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer" style="background: #0B1833; background: -moz-linear-gradient(top, #0F1123, #0B1833); background: -webkit-linear-gradient(top, #0F1123, #0B1833); background: -ms-linear-gradient(top, #0F1123, #0B1833); background: -o-linear-gradient(top, #0F1123, #0B1833); background: linear-gradient(top, #0F1123, #0B1833); ">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p style="font-family: 'Source Sans Pro', sans-serif;">Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
